.form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  .form-control {
    width: 20%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  select.form-control {
    height: 38px; /* Adjust height as needed */
  }

  .primary-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 0.5rem; /* Adjust margin as needed */
  }
  
  .primary-button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
  }
  